extends includes/template.pug
include includes/pointers.pug
block vars
  -
    var title = 'Baño 1'
    var next = 1
    var prev = 7
block main
  -
    var pointer = {
      render: 'img/render1.jpeg',
      pointers: [
        {
          y: 35,
          x:3
        },
        {
          y:50,
          x:30
        },
        {
          y:80,
          x:40
        },
        {
          y:30,
          x:80
        },
        {
          y:15,
          x:65,
          variant: true,
          items:[
            {
              title: 'Jabón Artesanal',
              src: 'img/prodruct1.jpeg'
            },
            {
              title: 'Difusor',
              src: 'img/prodruct2.jpeg'
            }
          ]
        },
        {
          y:28,
          x:66,
          variant: true,
          items:[
            {
              title: 'Sales para tina',
              src: 'img/prodruct3.jpeg'
            },
            {
              title: 'Sphera para tina',
              src: 'img/prodruct4.jpeg'
            }
          ]
        }
      ]
    }
  +pointers(pointer)  
