extends includes/template.pug
include includes/pointers.pug
block vars
  -
    var title = 'Baño 2'
    var next = 2
    var prev = '0'
block main
  -
    var pointer = {
          render: 'img/render2.jpeg',
          pointers: [
            {
              y: 35,
              x:10
            },
            {
              y:62,
              x:25
            },
            {
              y:70,
              x:45
            },
            {
              y:30,
              x:68
            },
            {
              y:83,
              x:68
            },
            {
              y:15,
              x:85,
              variant: true,
              items:[
                {
                  title: 'Crema Corporal 250ml ó 500ml en botella ámbar o transparente.',
                  src: 'img/product5.jpg'
                },
                {
                  title: 'Difusor de aroma de 110ml.',
                  src: 'img/product2.jpg'
                }
              ]
            }
          ]
        }
  +pointers(pointer)  
