extends includes/template.pug
include includes/pointers.pug
block vars
  -
    var title = 'Cocina'
    var next = 5
    var prev = 3
    var back= true

block main
  -
    var pointer = {
      render: 'img/render5.jpeg',
      pointers: [
            {
              y:15,
              x:28,
              items:[
                {
                  title: 'Jabón líquido para manos de 250 ml ó 500 ml en botella ámbar ó transparente.',
                  src: 'img/product6.jpg'
                }
              ]
            }
          ]
    }
  +pointers(pointer)  
